<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://cdn.worldvectorlogo.com/logos/rockstar-energy-drink-logo-3.svg" %>
  <% end %>
  <div class="wrapper">
   <h1 style="font-family: 'Pacifico', cursive; color: white; text-shadow: 1px 1px 3px rgba(0,0,0,0.6); margin-left: 40vw; margin-top: 10px;" class="justify-content-center">Awesome Cocktails</h1>
   </div>
</div>

  <%= simple_form_for :search, url: cocktails_path, method: :get do |f| %>
  <div class="container mt-5">
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="params[:search]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>

  <div class="cards justify-content-center">
    <% @cocktails.each_with_index do |cocktail, idx| %>
    <div class="card-category" style="background-image: url(<%= cocktail.picture_url %>); background-size: contain; background-repeat: no-repeat;">
       <%= link_to "#{idx + 1}", cocktail_path(cocktail), method: :delete, :style=>'color: white' %>
       <%= link_to " : #{cocktail.name.gsub("Cocktail", "")}", cocktail_path(cocktail), :style=>'color: white' %>
    </div>
    <% end %>

  <div class="card-category-type" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://www.bbcgoodfood.com/sites/default/files/review/guide-image/2018/10/non-alcoholic-drinks-hero.jpg)">
      <%= form_for @cocktail, :html => {:class => 'form-style'} do |f| %>
        <%= f.label "add another:" %>
        <%= f.text_field :name, :class=> 'form-group form-text text-muted'%>
      <% f.submit %>
    <% end %>
  </div>

</div>

