<h1>Create new Cocktail</h1>

<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>


<%=  link_to "Back to overview", cocktails_path, class: "btn btn-primary" %>
